.texto-rojo {
    color: red;
}

.primary-header {
    background-color: #007bff; /* Color primario (por ejemplo, azul) */
    color: #ffffff; /* Texto blanco */
    font-weight: bold; /* Opcional: texto en negrita */
}

.custom-header .ui-dialog-title {
    background-color: blue; /* Fondo azul */
    color: white;          /* Texto blanco */
}